* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 3000px;
}

/* Navbar */
.imageNavbar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* HomePage */


.homeTitle {
    font-weight: bold;
    color: rgb(154, 183, 255);
    font-size: 45px;
}

.imageContainerHome img {
    width: auto;
    height: 80vh;
    box-shadow: 3px 3px 10px rgb(126, 126, 126);
}